<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <h5 align="center">New Category</h5>

          <%= render 'form', category: @category %>

          <%= link_to 'Back', categories_path, class:"mt-2" %>
        </div>
      </div>
    </div>
  </div>
</div>
